<ion-side-menus id="main-menu" enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear mdi mdi-menu" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear mdi mdi-bell-outline">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content class="has-status-bar-ios" scroll="false">
      <div class="list">
        <a menu-close class="item item-avatar user-bar" ng-if="vm.is_logined" ui-sref="app.user({login: vm.current_user.login})">
          <!-- <img ng-src="{{vm.current_user.avatar_url}}" alt="用户头像" width="56"> -->
          <ionic-letter-avatar data="{{ vm.current_user.login }}" shape="round"></ionic-letter-avatar>
          <h2>{{ vm.current_user.login }}</h2>
          <div class="level">{{ vm.current_user.level_name }}</div>
        </a>
        <a menu-close class="item item-icon-left" ng-click="vm.showLoginModal()" ng-if="!vm.is_logined">
          <i class="icon mdi mdi-login"></i> 登录
        </a>
        <a menu-close class="item item-icon-left" ui-sref="app.topics({type: 'last_actived'})">
          <i class="icon mdi mdi-message-text calm"></i> 讨论区
        </a>
        <a menu-close class="item item-icon-left" ui-sref="app.topics({type: 'excellent'})">
          <i class="icon mdi mdi-ticket assertive"></i> 优质帖子
        </a>
        <a menu-close class="item item-icon-left" ui-sref="app.jobs">
          <i class="icon mdi mdi-account-location energized"></i> 招聘
        </a>
        <a menu-close class="item item-icon-left" ui-sref="app.nopoint"
          ng-if="vm.current_user && (vm.current_user.login === 'rubychina_app' || vm.current_user.level === 'admin')">
          <i class="icon mdi mdi-crosshairs stable"></i> NoPoint
        </a>
        <a menu-close class="item item-icon-left" ng-click="vm.showNewTopicModal()" ng-if="vm.is_logined">
          <i class="icon mdi mdi-pencil balanced"></i> 发布新话题
        </a>
      </div>
      <div class="list bottom">
        <a menu-close class="item item-icon-left" ng-if="vm.is_logined">
          <i class="icon mdi mdi-settings"></i> 设置
        </a>
        <a menu-close class="item item-icon-left" ng-click="vm.logout()" ng-if="vm.is_logined">
          <i class="icon mdi mdi-power"></i> 登出
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
