<ion-view id="notifications" can-swipe-back="true">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." spinner="ios" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div class="list">
      <div ng-repeat="nf in vm.notifications">
        <ng-include src="'notifications/' + nf.type.toLowerCase() + '.html'"></ng-include>
      </div>
    </div>
    <ion-infinite-scroll ng-if="vm.has_more" on-infinite="vm.loadMore()" immediate-check="false" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
