<ion-view id="topics" view-title="Ruby China" ng-cont>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-list-outline" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-bell-outline" ng-class="{ 'new': vm.unread_notifications_count > 0 }" ui-sref="app.notification">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="刷新话题列表..." spinner="ios" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar" 
        ui-sref="app.topic({topic_id: topic.id, replies_count: topic.replies_count})" 
        ng-repeat="topic in vm.topics.items" 
        ng-if="!topic.deleted">
        <img ng-src="{{topic.user.avatar_url}}" alt="{{ topic.user.login }}">
        <h2>{{ topic.title }}</h2>
        <div class="author"><span class="node">{{ topic.node_name }}</span> {{ topic.user.login }} </div>
        <span class="badge badge-clear">{{ topic.replies_count }}</span>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="vm.loadMore()" immediate-check="false" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
