<ion-view id="topics" view-title="Ruby China" ng-cont>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." spinner="ios" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div class="list">
      <a class="item item-avatar" ui-sref="app.topic({topic_id: topic.id})" ng-repeat="topic in vm.topics.items" ng-if="!topic.deleted">
        <!-- <img ng-src="{{topic.user.avatar_url}}" alt="{{ topic.user.login }}"> -->
        <ionic-letter-avatar data="{{ topic.user.login }}" shape="round"></ionic-letter-avatar>
        <h2>{{ topic.title }}</h2>
        <div class="author">{{ topic.user.login }}</div>
        <span class="badge badge-clear">{{ topic.replies_count }}</span>
      </a>
    </div>
    <ion-infinite-scroll on-infinite="vm.loadMore()" immediate-check="false" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
