html {
  // 16px = 1em; rem = root em 即根据 html 设置的百分比来
  // 因此设置字体基准：16px * 62.5% = 10px
  // 这样其他字体就可以这样定义：12px = 1.2rem，14px = 1.4rem
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "RobotoDraft", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.bar-assertive {
  background-color: $assertive;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.14);
}

.bar-header {
  .back-button {
    min-width: 35px;
  }
}

.bg-assertive,
.bg-positive,
.bg-balanced {
  color: $light;
}

.bg-assertive {
  background-color: $assertive;
}

.bg-positive {
  background-color: $positive;
}

.bg-stable {
  background-color: $stable;
}

.bg-balanced {
  background-color: $balanced;
}

.bg-light-gray {
  background-color: $light-gray;
}

/* 浮动按钮 */
.button-fab {
  line-height: 0; padding: 0;
  border-radius: 180px;
  min-width: 45px; min-height: 45px;
  width: 45px; height: 45px;
  overflow: hidden;
  color: #FFF;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);

  i { font-size: 28px; }
}

.button-fab-bottom-right {
  position: fixed;
  left: auto; top: auto;
  right: 20px; bottom: 20px;
}

.gray {
  color: $gray;
}

.black {
  color: black;
}

.item-narrow {
  min-height: 30px !important;
  padding: 6px 12px;
  .badge {
    display: flex;
    position: absolute;
    top: 6px;
    right: 0px;
  }
}

.item-block {
  min-height: 40px !important;
  padding: 0;
}

.item-bottom {
  position: absolute;
  bottom: 0;
}

.item-noborder {
  border: none !important;
}

.item-divider-narrow {
  min-height: 15px !important;
}

textarea {
  width: 98%;
  resize: none;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.text-sm {
  font-size: 14px;
}

.text-deleted {
  text-decoration: line-through;
}

.item h2 {
  font-weight: 300;
}

.pull-right {
  float: right;
}

.flat,
.flat.button,
.flat.button.icon,
.flat.hero,
.flat.tabs {
  border: 0px;
  box-shadow: 0 0 0 0;
}

.list .item-avatar {
  min-height: 80px;
}

.list .item {
  border: 0.06em solid #e0e0e0;
}

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
  background: #FFFAF4;
}

.card>.item-avatar,
.item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
  padding-left: 70px;
}

.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  font-family: Roboto, RobotoDraft, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  white-space: normal;
}

.action-sheet {
  .button {
    box-shadow: none;
  }
}

// .keyboard-open {
//   .bar-footer {
//     transform: translate3d(0px, -213px, 0px) !important;
//   }
// }

#loading-bar .bar {
  top:0px !important;
}

#loading-bar-spinner {
  display: none;
}
