/* Markdown Styles */

.markdown {
  position: relative;
  color: #000;
  line-height: 1.8em;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  img {
    max-width: 100%;
  }
  p,
  pre,
  ul,
  ol,
  blockquote {
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    line-height: 1.5em;
    color: #000;
  }
  hr {
    border: 2px dashed #f0f0f0;
    border-bottom: 0px;
    margin: 18px auto;
    width: 50%;
  }
  blockquote {
    margin: 0 18px 15px 18px;
    padding: 0;
    padding-left: 32px;
    border: 0px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
    line-height: 1.45;
    p {
      display: inline;
      font-size: 12px;
      color: #999;
    }
    &:before,
    &:after {
      display: block;
      content: "\201C";
      font-size: 35px;
      position: absolute;
      font-family: serif;
      left: 0px;
      top: 0px;
      color: #aaa;
    }
  }
  pre {
    font-family: Menlo, Monaco, "Courier New", monospace !important;
    font-size: 12px;
    background-color: #F5F5F5;
    border: 0px;
    padding: 5px;
    color: #444;
    overflow: auto;
    border-radius: 0px;
    code {
      display: block;
      line-height: 150%;
      padding: 0!important;
      font-size: 12px!important;
      background-color: #F5F5F5 !important;
      border: none!important;
    }
  }
  p:last-child,
  blockquote:last-child,
  pre:last-child {
    margin-bottom: 0;
  }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  pre::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
  }
  pre::-webkit-scrollbar-track-piece {
    margin-bottom: 10px;
    background-color: #e5e5e5;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
  }
  pre::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px white;
  }
  code {
    font-size: 12px!important;
    background-color: #F5F5F5 !important;
    color: #444 !important;
    padding: 1px 2px !important;
    border: 0px;
    margin: 2px;
    border-radius: 0px;
    word-break: break-all;
    line-height: 20px;
    font-family: Monaco, Menlo, "Courier New", monospace;
  }
  a:link,
  a:visited {
    color: #0069D6 !important;
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: underline !important;
    color: #00438A !important;
  }
  a.mention-floor {
    color: #60b566 !important;
    margin-right: 3px;
  }
  a.mention {
    color: #777 !important;
    font-weight: bold;
    margin-right: 2px;
    b {
      color: #777 !important;
      font-weight: normal;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: 16px;
  }
  h1 {
    font-size: 26px !important;
    text-align: center;
    margin-bottom: 30px !important;
  }
  h2,
  h3,
  h4 {
    text-align: left;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 100%;
    margin: 0;
    color: #555;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
  h2 {
    font-size: 20px !important;
    border-bottom-width: 2px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111;
  }
  h3 {
    font-size: 18px !important;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
  }
  h5,
  h6 {
    font-size: 15px;
    line-height: 100%;
    color: #777;
  }
  h6 {
    font-size: 14px;
    color: #999;
  }
  strong {
    color: #000;
  }
  ul,
  ol {
    list-style-position: inside;
    list-style-type: square;
    margin: 0;
    margin-bottom: 20px;
    padding: 0px 20px;
    p,
    blockquote,
    pre {
      margin-bottom: 8px;
    }
    li {
      line-height: 1.6em;
      padding: 2px 0;
      color: #333;
      font-size: 13px;
    }
    ul {
      list-style-type: circle;
      margin-bottom: 0px;
    }
  }
  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      margin-bottom: 0px;
    }
  }
  img {
    vertical-align: top;
    max-width: 100%;
  }
  a.zoom-image {
    cursor: zoom-in;
  }
  a.at_floor {
    color: #60B566 !important;
  }
  a.at_user {
    color: #0069D6 !important;
  }
}
