#main-menu {
  .list {
    &.bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .item {
      min-height: 41px;
      font-size: 14px;
      .icon {
        font-size: 24px;
      }
    }
  }
}

.user-bar {
  background: #FFF;
  border-bottom: 2px solid #D2D2D2;
  h2 {
    font-size: 15px;
    color: #222;
    font-weight: 400;
  }
  .level {
    font-size: 10px;
    color: #9B9B9B;
  }
}

#new-topic-modal {
  .node_seletor {
    color: #aaa;
    direction: ltr;
    max-width: 100%;
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 5px;
  }
  .has_node {
    left: 36px;
  }
  .tabs-topic {
    height: 40px;
    .icon {
      line-height: 36px;
      height: 26px;
      font-size: 26px;
    }
  }
}

.code_selector {
  height: 50%;
  top: 20%;
}
