#notifications {
  .list {
    .item {
      padding: 10px 16px 10px 65px;
      min-height: 55px;
      img { top: 8px; }
      h2 {
        padding-right: 20px;
        margin-top: 3px;
        font-size: 12px;
        font-weight: 350;
        color: #666;
        margin-bottom: 6px;
      }
      .author {
        font-size: 13px;
        margin-top: 5px;
        font-weight: 400;
        color: #555;
      }
      .badge {
        background: #F9F33B;
        display: block;
        position: absoulte;
        width: 10px; height: 10px;
        font-size: 12px;
        line-height: 100%;
        padding: 2px;
        font-weight: normal;
        right: 5px;
      }

      .positive { color: #333; font-size: 14px;}
    }
  }
}
