.bar-stable .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #444;
  font-size: 17px;
}

.item h2 {
  font-weight: 300;
}

.flat,
.flat.button,
.flat.button.icon,
.flat.hero,
.flat.tabs {
  padding: 0;
}

.bar .buttons.pull-right,
.bar .title+.button:last-child,
.bar .title+.buttons,
.bar>.button+.button:last-child,
.bar>.button.pull-right {
  top: initial;
  right: 0;
  bottom: initial;
}

.list .item-avatar {
  min-height: 80px;
}

.card>.item-avatar,
.item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
  padding-left: 70px;
}

.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
  white-space: normal;
}
