#topics {
  .list {
    .item {
      &:visited {
        h2 { color: #666; }
      }
      padding: 10px 16px 10px 60px;
      min-height: 55px;
      img { top: 8px; left: 10px; }
      h2 {
        padding-right: 20px;
        margin-top: 3px;
        font-size: 14px;
        font-weight: 400;
      }
      .author {
        font-size: 11px;
        line-height: 11px;
        margin-top: 5px;
        color: #959595;
      }
      .node { margin-right: 6px; font-weight:bold; }
      .badge {
        color: #ABABAB;
        font-size: 12px;
        font-weight: normal;
        right: 5px;
      }
    }
  }
}
