#topics {
  .list {
    .item {
      &:visited {
        h2 {
          color: #666;
        }
      }

      .item-content {
        min-height: 5.5rem;
        padding: 5px 32px 5px 64px;
        img {
          top: 8px; left: 12px;
        }
        h2 {
          margin-top: 5px;
          font-size: 1.4rem;
          font-weight: 400;
        }
        &:visited {
          h2 {
            color: #666;
          }
        }
      }
      .badge {
        color: #ababab;
        font-size: 1.2rem;
        font-weight: normal;
        right: 8px;
      }
      .author {
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-top: 5px;
        color: #959595;
        .node {
          margin-right: 6px;
          font-weight: bold;
        }
      }
    }
  }
}
