#topic-detail {
  .list {
    .gray,
    .dark { color: #929292; font-size: 12px; }
    .tabs {
      display:none;
      border-top: 0px;
      .tab-item {
        .mdi { font-size: 20px; }
      }
    }
    .tabs.visable {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .item-avatar {
      min-height: 30px;
      border-bottom: none;
      padding: 6px 10px 6px 55px;
      img { width: 30px; height: 30px; top: 12px; }
      h2 {
        font-size: 13px; line-height: 30px;
        .gray { font-size: 0.8em; }
      }
    }
    .item {
      border-bottom: 1px solid $light-gray;
      span {
        font-size: 12px;
      }
      h2,
      h3 {
        font-weight: 300;
      }
      h2 {
        line-height: 40px;
      }
      h3 {
        font-size: 18px;
      }
      &.reply {
        .row { padding: 0px; }
        padding-top: 0;
        .item-avatar {
          padding: 10px 0;
          padding-left: 40px;
          img:first-child {
            position: absolute;
            max-width: 30px;
            max-height: 30px;
            top: 10px;
          }
          h2 {
            line-height: 30px !important;
            font-size: 13px; color: #202020;
            .like { margin-right: 10px; }
            .gray { font-size: 12px !important; }
            .dark { color: #777; font-size:12px;}
          }
        }
      }
    }
  }

  .replies-divider { padding: 2px; min-height: 5px; }
}

#reply-modal {
  min-height: 60%;
  top: 40%;
  .item-reply {
    min-height: 250px;
    #topic-reply {
      padding: 10px;
    }
  }
}
