.topics-page {
  .toolbar {
    .toolbar-background {
      background-color: #f53d3d;
    }
    .bar-button {
      color: white;
    }
    .toolbar-content {
      .toolbar-title {
        color: white;
      }
    }
  }
  .item {
    h2 {
      padding-right: 20px;
      margin-top: 3px;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .info {
      font-size: 1.1rem;
      color: #959595;
      margin-top: 5px;
      font-weight: bold;
      span.author {
        margin-left: 6px;
        font-weight: normal;
      }
    }
  }
}
