.topics-page {
  .toolbar {
    .toolbar-background {
      background-color: #f53d3d;
    }
    .bar-button {
      color: white;
    }
    .toolbar-content {
      .toolbar-title {
        color: white;
      }
    }
  }
  .item {
    .item-inner {
      background: none !important;
      padding-right: 0 !important;
      h2 {
        padding-right: 20px;
        margin-top: 3px;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: normal;
      }
      .info {
        font-size: 1.1rem;
        color: #959595;
        margin-top: 5px;
        font-weight: bold;
        span.author {
          margin-left: 6px;
          font-weight: normal;
        }
      }
      .replies_count {
        color: #ABABAB;
        font-size: 1.2rem;
        font-weight: normal;
        background-color: initial;
      }
    }
  }
}
