// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// Menu Style
ion-menu {
  .outer-content {
    .item {
      .icon-red {
        color: red;
      }
      .icon-orange {
        color: orange;
      }
    }
  }
}

.loading-mask {
  // height: 50vh;
  // line-height: 50vh;
  // text-align: center;
  // margin: 15px auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  line-height: 80vh;
  background-color: #222;
  z-index: 10;
  text-align: center;
  opacity: .5;
  color: whitesmoke;
}

@import "../pages/tutorial/tutorial";
@import "../pages/topics/topics";
@import "../pages/topic/topic";
@import "../pages/topic/markdown";
@import "../pages/webview/webview";
