/* Markdown Styles */
.markdown {
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  font-family: Roboto, "RobotoDraft", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  img {
    max-width: 100%;
    &.emoji {
      width: 2rem;
    }
  }
  p,
  pre,
  ul,
  ol,
  blockquote {
    margin-bottom: 1.6rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #000;
  }
  hr {
    border: 2px dashed #f0f0f0;
    border-bottom: 0;
    margin: 18px auto;
    width: 50%;
  }
  blockquote {
    margin: 0 18px 15px;
    padding: 0 0 0 32px;
    border: 0;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
    line-height: 1.45;
    p {
      display: inline;
      font-size: 12px;
      color: #999;
    }
    &:before,
    &:after {
      display: block;
      content: "\201C";
      font-size: 35px;
      position: absolute;
      font-family: serif;
      left: 0;
      top: 0;
      color: #aaa;
    }
  }
  pre {
    font-family: Menlo, Monaco, "Courier New", monospace !important;
    font-size: 12px;
    background-color: #F5F5F5;
    border: 0;
    padding: 5px;
    color: #444;
    overflow: auto;
    border-radius: 0;
    code {
      display: block;
      line-height: 150%;
      padding: 0 !important;
      font-size: 12px!important;
      background-color: #F5F5F5 !important;
      border: none!important;
    }
  }
  p:last-child,
  blockquote:last-child,
  pre:last-child {
    margin-bottom: 0;
  }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  pre::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
  }
  pre::-webkit-scrollbar-track-piece {
    margin-bottom: 10px;
    background-color: #e5e5e5;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
  }
  pre::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px white;
  }
  code {
    font-size: 12px!important;
    background-color: #F5F5F5 !important;
    color: #444 !important;
    padding: 1px 2px !important;
    border: 0;
    margin: 2px;
    border-radius: 0;
    word-break: break-all;
    line-height: 20px;
    font-family: Monaco, Menlo, "Courier New", monospace;
  }
  a:link,
  a:visited {
    color: #0069D6 !important;
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: underline !important;
    color: #00438A !important;
  }
  a.mention-floor {
    color: #60b566 !important;
    margin-right: 3px;
  }
  a.mention {
    color: #777 !important;
    font-weight: bold;
    margin-right: 2px;
    b {
      color: #777 !important;
      font-weight: normal;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: 16px !important;
  }
  h1 {
    font-size: 26px !important;
    text-align: center;
    margin-bottom: 30px !important;
  }
  h2,
  h3,
  h4 {
    text-align: left;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 100%;
    margin: 0;
    color: #555;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
  h2 {
    font-size: 20px !important;
    border-bottom-width: 2px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111;
  }
  h3 {
    font-size: 18px !important;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
  }
  h5,
  h6 {
    font-size: 15px;
    line-height: 100%;
    color: #777;
  }
  h6 {
    font-size: 14px;
    color: #999;
  }
  strong {
    color: #000;
  }
  ul,
  ol {
    list-style-position: inside;
    list-style-type: square;
    margin: 0 0 20px;
    padding: 0 20px;
    p,
    blockquote,
    pre {
      margin-bottom: 8px;
    }
    li {
      line-height: 1.6em;
      padding: 2px 0;
      color: #333;
      font-size: 13px;
    }
    ul {
      list-style-type: circle;
      margin-bottom: 0;
    }
  }
  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      margin-bottom: 0;
    }
  }
  img {
    vertical-align: top;
    max-width: 100%;
  }
  a.zoom-image {
    cursor: zoom-in;
  }
  a.at_floor {
    color: #60B566 !important;
  }
  a.at_user {
    color: #0069D6 !important;
  }
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #B0B2B0;
  font-style: italic;
}
/* Comment */
.highlight .err {}
/* Error */
.highlight .k {
  color: #AA22FF;
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  color: #666666;
}
/* Operator */
.highlight .cm {
  color: #B0B2B0;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #B0B2B0;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #B0B2B0;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #B0B2B0;
  font-weight: bold;
}
/* Comment.Special */
.highlight .gd {
  color: #A00000;
}
/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #FF0000;
}
/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.highlight .gi {
  color: #00A000;
}
/* Generic.Inserted */
.highlight .go {
  color: #808080;
}
/* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.highlight .gt {
  color: #0040D0;
}
/* Generic.Traceback */
.highlight .kc {
  color: #AA22FF;
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  color: #AA22FF;
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #AA22FF;
  font-weight: bold;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #AA22FF;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #AA22FF;
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #00BB00;
  font-weight: bold;
}
/* Keyword.Type */
.highlight .m {
  color: #666666;
}
/* Literal.Number */
.highlight .s {
  color: #BB4444;
}
/* Literal.String */
.highlight .na {
  color: #BB4444;
}
/* Name.Attribute */
.highlight .nb {
  color: #AA22FF;
}
/* Name.Builtin */
.highlight .nc {
  color: #0000FF;
}
/* Name.Class */
.highlight .no {
  color: #880000;
}
/* Name.Constant */
.highlight .nd {
  color: #AA22FF;
}
/* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #00A000;
}
/* Name.Function */
.highlight .nl {
  color: #A0A000;
}
/* Name.Label */
.highlight .nn {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Namespace */
.highlight .nt {
  color: #008000;
  font-weight: bold;
}
/* Name.Tag */
.highlight .nv {
  color: #B8860B;
}
/* Name.Variable */
.highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #666666;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #666666;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #666666;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #666666;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #BB4444;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #BB4444;
}
/* Literal.String.Char */
.highlight .sd {
  color: #BB4444;
  font-style: italic;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #BB4444;
}
/* Literal.String.Double */
.highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #BB4444;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #008000;
}
/* Literal.String.Other */
.highlight .sr {
  color: #BB6688;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #BB4444;
}
/* Literal.String.Single */
.highlight .ss {
  color: #B8860B;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #AA22FF;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #B8860B;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #B8860B;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #B8860B;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #666666;
}
/* Literal.Number.Integer.Long */
