<ion-modal-view id="login-modal">
  <div class="bar bar-header bar-stable flat">
    <h1 class="title">账号登录</h1>
    <button class="button button-icon icon mdi mdi-close flat pull-right" ng-click="vm.closeLoginModal()"></button>
  </div>
  <ion-content class="padding has-header" scroll="false">
    <form novalidate id="loginForm">
      <div class="list">
        <label class="item item-input">
          <i class="icon placeholder-icon mdi mdi-account"></i>
          <input type="text" ng-model="vm.account.username" placeholder="用户名 / Email" required>
        </label>
        <label class="item item-input">
          <i class="icon placeholder-icon mdi mdi-lock"></i>
          <input type="password" ng-model="vm.account.password" placeholder="密码" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="vm.login()">登录</button>
        </label>
      </div>
    </form>
    <div class="row" ng-if="vm.errorMsg">
      <div class="col">
        <p class="text text-center assertive">
          <i class="mdi mdi-alert-circle"></i> {{ vm.errorMsg }}
        </p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
